/EnterpriseSystemASPX/EnterpriseSystemASPX.csproj.user
/EnterpriseSystemASPX/EnterpriseSystemASPX.csproj
/EnterpriseSystemASPX/*.csproj
/EnterpriseSystemASPXBg/*.user
/EnterpriseSystemASPXBg/*.csproj
